absolufy-imports==0.3.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
arcade==2.6.16 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
arrow==1.2.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
astor==0.8.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
astpretty==3.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
astroid==2.12.12 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
attrs==22.1.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
bandit==1.7.4 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
beartype==0.11.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
better-exceptions==0.3.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
bidict==0.22.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
black==22.10.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
calcipy==0.21.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
cement==3.0.8 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
certifi==2022.9.24 ; python_full_version >= "3.10.5" and python_version < "4"
cffi==1.15.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
cfgv==3.3.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
charset-normalizer==2.1.1 ; python_full_version >= "3.10.5" and python_version < "4"
click==8.1.3 ; python_full_version >= "3.10.5" and python_version < "4.0"
cloudpickle==2.2.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
code2flow==2.5.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0" or python_full_version >= "3.10.5" and python_version < "4.0" and platform_system == "Windows"
commonmark==0.9.1 ; python_full_version >= "3.10.5" and python_version < "4.0"
decorator==5.1.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
dill==0.3.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
distlib==0.3.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
docformatter==1.5.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
doit==0.36.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
eradicate==2.1.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
exceptiongroup==1.0.1 ; python_full_version >= "3.10.5" and python_version < "3.11"
filelock==3.8.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-bandit==4.1.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-black==0.3.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-blind-except==0.2.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-breakpoint==1.1.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
flake8-broken-line==0.6.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
flake8-bugbear==22.10.27 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-builtins==2.0.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-comprehensions==3.10.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-debugger==4.1.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-eradicate==1.4.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
flake8-expression-complexity==0.0.11 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-functions==0.0.7 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-isort==5.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-pep3101==2.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-plugin-utils==1.3.2 ; python_full_version >= "3.10.5" and python_version < "4.0"
flake8-print==5.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-printf-formatting==1.1.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-return==1.2.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
flake8-simplify==0.19.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-sql==0.4.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-string-format==0.3.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-super==0.1.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-tuple==0.4.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-typing-imports==1.14.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8-use-pathlib==0.3.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
flake8==5.0.4 ; python_full_version >= "3.10.5" and python_version < "4.0"
freezegun==1.2.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
future==0.18.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
gitdb==4.0.9 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
gitpython==3.1.29 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
hypothesis==6.56.4 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
identify==2.5.8 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.10.5" and python_version < "4"
importlib-metadata==5.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
iniconfig==1.1.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
isort==5.10.1 ; python_full_version >= "3.10.5" and python_version < "4.0"
lazy-object-proxy==1.8.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
libcst==0.4.9 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
loguru==0.6.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
lxml==4.9.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
mando==0.6.4 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
mccabe==0.7.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
mr-proper==0.0.7 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
mypy-extensions==0.4.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
mypy==0.990 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
nodeenv==1.7.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
numpy==1.23.4 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
packaging==21.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pandas==1.5.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pathspec==0.10.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pattern-feedback-tool==0.3.10 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pbr==5.11.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pillow==9.1.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
platformdirs==2.5.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pluggy==1.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pre-commit==2.20.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pycg==0.0.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pycodestyle==2.9.1 ; python_full_version >= "3.10.5" and python_version < "4.0"
pycparser==2.21 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pydantic==1.10.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pyflakes==2.5.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
pyglet==2.0.dev23 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pygments==2.13.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
pylint==2.15.5 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pymunk==6.2.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pyparsing==3.0.9 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pyrate-limiter==2.8.3 ; python_full_version >= "3.10.5" and python_version < "4.0"
pytest-watcher==0.2.5 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pytest==7.2.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
python-box==6.1.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
python-dateutil==2.8.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pytiled-parser==2.2.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pytz==2022.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pyupgrade==3.2.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pyyaml==6.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
radon==5.1.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
requests==2.28.1 ; python_full_version >= "3.10.5" and python_version < "4"
rich==12.6.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
setuptools==65.5.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
smmap==5.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
sortedcontainers==2.4.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
sqlparse==0.4.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
stdlib-list==0.8.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
stevedore==4.1.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
sty==1.0.4 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
tabulate==0.9.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
tokenize-rt==5.0.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
toml==0.10.2 ; python_full_version >= "3.10.5" and python_version < "4.0"
tomli==2.0.1 ; python_full_version >= "3.10.5" and python_version < "4.0"
tomlkit==0.11.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
transitions==0.9.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
tryceratops==1.1.0 ; python_full_version >= "3.10.5" and python_version < "4.0"
typing-extensions==4.4.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
typing-inspect==0.8.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
unimport==0.12.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
untokenize==0.1.1 ; python_full_version >= "3.10.5" and python_version < "4.0"
urllib3==1.26.12 ; python_full_version >= "3.10.5" and python_version < "4"
virtualenv==20.16.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
vulture==2.6 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
watchdog==2.1.9 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
win32-setctime==1.1.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0" and sys_platform == "win32"
wrapt==1.14.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
zipp==3.10.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
