arcade==2.6.16 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
attrs==22.1.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
cffi==1.15.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pillow==9.1.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pycparser==2.21 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pyglet==2.0.dev23 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pymunk==6.2.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pytiled-parser==2.2.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
typing-extensions==4.4.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
